body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.topline {
  display: flex;
  justify-content: space-between;
}

.factor-details {
  margin-left: 5px;
  width: 20em;
  position: relative;
  right: 0px;
  justify-content: space-between;
  word-wrap: normal;
}

input.break {
  word-wrap: break-word;
  word-break: break-all;
  height: 80px;
}

.line {
  display: flex;
  justify-content: space-between;
  height: 2em;
}

.risk-factors {
  display: flex;
  /* justify-content: space-around */
}

.notes-box {
  margin-left: 5px;
  width: 80%;
  height: 20em;
}

#notes-one {
  margin-bottom: 20px;
}

.studentOverview {
  color: black;
  display: flex;
  border: gray 1px solid;
  margin: 3px;
}

.overviewElem {
  padding-right: 10px;
}
