body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

input {
  margin-right: 5px;
  margin-left: 3px;
}

select {
  margin-left: 5px;
}

form div {
  margin: 1em;
  display: inline-block;
}

.topline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.factor-details {
  margin-left: 5px;
  width: 20em;
  position: relative;
  right: 0px;
  justify-content: space-between;
  word-wrap: normal;
}

input.break {
  word-wrap: break-word;
  word-break: break-all;
  height: 80px;
}

.line {
  display: flex;
  justify-content: space-between;
  height: 2em;
}

.risk-factors {
  display: flex;
  /* justify-content: space-around */
}

.notes-box {
  margin-left: 5px;
  width: 80%;
  height: 20em;
}

#notes-one {
  margin-bottom: 20px;
}

.studentOverview {
  color: black;
  border: gray 1px solid;
  margin: 3px;
}

#notesRow1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#notesRow2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.overviewElem {
  padding-right: 10px;
}

#searchbar {
  margin-left: 10px;
  width: 170px;
}
.score-section {
  justify-content: center;
}

.score-line {
  display: flex;
  flex-flow: wrap;
  width: 28%;
  padding: 5px;
}

.section-header {
  text-align: center;
}

#scoring-header {
  background-color: gray;
  font-size: 25px;
  margin-bottom: -10px;
}

#risk-line {
  display: flex;
}

#score {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  border: black 2px solid;
}

.scope-description {
  width: 80%;
  margin-left: 50px;
  margin-bottom: 0px;
}

.scope-description p {
  margin-top: 0px;
}

#scope-two {
  margin-top: 0px;
}

.scope {
  margin-bottom: 0px;
}

#scope-selector {
  margin-bottom: 10px;
}

#need-selector {
  margin-top: 10px;
  margin-bottom: 10px;
}

.score-display {
  margin-right: 20px;
}

.risk-score {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: right;
}

.riskscore-div {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

#total-score {
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: right;
}

.scoring-topline-input {
  height: 20px;
}

.ranking-element {
  color: black;
  border: gray 1px solid;
  margin: 3px;
  display: flex;
  /* justify-content: space-between */
}

.ranking-number {
  margin-left: 5px;
  margin-right: 10px;
}

.ranking-name {
  margin-right: 10px;
  margin-right: 10px;
  text-align: justify;
  flex-grow: 1;
}

.ranking-school {
  text-align: center;
  flex-grow: 1;
}

.ranking-score {
  text-align: right;
  margin-right: 10px;
  flex-grow: 1;
}

.rankings {
  text-align: center;
}
